<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Todo</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>

    <form hx-post="http://localhost:3000/todo" hx-target="#todo-list">
        <label for="newTodo">New Todo:</label>
        <input type="text" name="newTodo" id="newTodo" />
        <button type="submit">Submit</button>
    </form>

    <ol id="todo-list" hx-get="http://localhost:3000/todo" hx-trigger="load"></ol>

</body>

</html>